@font-face {
  font-family: SourceSansPro;
  src: url("assets/fonts/source-sans-pro/woff/SourceSansPro-Regular.woff2") format("woff2");
}

@font-face {
  font-family: SourceSansPro;
  font-weight: bold;
  src: url("assets/fonts/source-sans-pro/woff/SourceSansPro-Black.woff2") format("woff2");
  /* src: url("assets/fonts/source-sans-pro/SourceSansPro-Black.otf") format("opentype"); */
}

html {
  font-family: SourceSansPro, Helvetica, sans-serif;
  font-size: 18px;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-image: url('./assets/img/rsz_unicornvectorgradient_21.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: right bottom;
  height: 100%;
  margin: 0;
  padding: 0;
}

nav {
  padding: 20px 0;
  transition: all 0.2s;
  position: fixed;
  top: 0%;
  width: 100%;
  z-index: 1000;
}

.menu-container {
  max-width: 1366px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.hamburger-button {
  cursor: pointer;
  background-image: url('./assets/img/rsz_unicornvectorgradient_21.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: right bottom;
  /* background-color: #fbe9f7; */
  border: 2px solid black;
  padding: 10px;
  display: none;
}

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 2px;
  background-color: #333;
  margin: 6px 0;
  transition: 0.4s;
}

.change .bar1 {
  transform: translate(0, 8px) rotate(-45deg);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
  transform: translate(0, -8px) rotate(45deg);
}

.menu {
  background-image: url('./assets/img/rsz_unicornvectorgradient_21.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: right bottom;
  /* background-color: #fbe9f7; */
  border: 2px solid black;
  padding: 20px;
}

.menu-item {
  padding: 20px;
}

a {
  text-decoration: none;
  font-weight: 900;
  color: black;
}

a:hover {
  text-decoration: underline;
}

.active {
  text-decoration: underline;
  color: #c91f5a;
}

.container {
  max-width: 1366px;
  height: 100%;
  margin: 0 auto;
}


h2 {
  font-size: 2.5rem;
  padding-top: 40px;
  margin-top: 100px;
}

.hero-text {
  margin-top: 80px;
  font-size: 4rem;
  width: 60%;
  line-height: 0.99
}

.canadian-leaf {
  position: absolute;
  top: 50%;
  right: 50px;
  width: 40%;
  transform: translate(0%, -50%);
  z-index: -1;
}

.lead {
  font-size: 21px;
  width: 50%;
  margin-bottom: 30px;
}

.accelerator-section {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.accelerator-card {
  flex-basis: 30%;
}

.accordion {
  background-color: #00000000;
  border: 2px solid black;
  border-top: none;
  border-bottom: none;
  padding: 20px;
  font-size: 21px;
  font-weight: 900;
  cursor: pointer;
  width: 100%;
  height: 90px;
  text-align: left;
  outline: none;
  transition: 0.4s;
}

.active-panel,
.accordion:hover {
  background-color: #00000011;
}

.active-panel {
  border-bottom: 2px solid black;
}

.accordion:after {
  content: '\002B';
  color: black;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active-panel:after {
  content: "\2212";
}

.panel {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  border: 2px solid black;
  border-top: none;
  border-bottom: none;
}

.accelerator-links {
  display: flex;
  align-items: center;
  gap: 20px;
  border: 2px solid black;
}

.accelerator-links button {
  background-color: #c91f5a;
  border: none;
  border-right: 2px solid black;
  color: white;
  cursor: pointer;
  padding: 18px;
  outline: none;
  font-size: 18px;
  transition: 0.4s;
}

.accelerator-links button:hover {
  background-color: #a51a4b;
}

.accelerator-card .logo-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  padding: 20px;
  border: 2px solid black;
}

.team-section {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}

.team-card {
  width: 300px;
  border: 2px solid black;
  margin-bottom: 50px;
}

.team-image {
  position: relative;
  top: 0;
  left: 0;
}

.team-portrait img {
  width: 300px;
  border-bottom: 2px solid black;
}

.team-company,
.team-linkedin {
  position: absolute;
  padding: 8px;
}

.team-company {
  height: 25px;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
  bottom: 5px;
  left: -2px;
  border: 2px solid black;
  background-image: url('./assets/img/rsz_unicornvectorgradient_21.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: right bottom;
}

.team-linkedin {
  width: 25px;
  bottom: 5px;
  right: -2px;
  border: 2px solid black;
  background-color: #c91f5a;
}

.team-description {
  padding: 20px
}

.team-description * {
  margin: 10px 0px;
}


@media only screen and (max-width: 1366px) {
  .menu-container{
    margin: 0px 20px;
  }

  .hero-text {
    font-size: 3rem;
    width: 80%;
  }

  .container {
    margin: 0 20px;
  }

  .canadian-leaf {
    width: 60%;
    opacity: 0.5;
    right: 0px;
  }

  .accelerator-section {
    display: block;
  }

  .accelerator-card {
    margin-bottom: 30px;
  }
}

@media only screen and (max-width: 1366px) and (min-width: 769px) {
  .accelerator-card {
    display: flex;
    border: 2px solid black;
  }

  .accelerator-card .logo-wrapper {
    width: 300px;
    border: none;
  }

  .accordion {
    border-right: none;
  }

  .accelerator-links {
    display: flex;
    gap: 20px;
    border: none;
    border-top: 2px solid black;
    border-left: 2px solid black;
    border-bottom: 2px solid black;
    position: relative;
    bottom: 0;
    left: 0;
  }

  .panel {
    border-right: none;
  }
}


@media only screen and (max-width: 768px) {
  h2 {
    font-size: 2rem;
  }

  .menu-container {
    flex-direction: column;
    align-items: flex-end;
  }

  .menu {
    display: none;
  }

  .hamburger-button {
    display: inline-block;
  }

  .menu-item {
    display: block;
    padding: 10px;
  }

  .hero-text {
    font-size: 2.5rem;
    width: 100%;
  }

  .lead {
    width: 100%;
  }

  .canadian-leaf {
    top: 400px;
    width: 100%;
    opacity: 0.3;
    right: 0px;
  }

  .accelerator-card {
    display: block;
  }

  .accelerator-card .logo-wrapper {
    width: auto;
    height: 200px;
  }
}